/* src/Home.css */
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
.home{
    text-align: center;
    background-color: #f7f7f7;
    color: #333;
}

.header{
    background-color: #2b53d8;
    padding: 20px;
    text-align: center;
}

.main-content{
    padding: 20px;
}
.button{
    background-color: #a12f2f;
    color: beige;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: #df1540;
}